<div style="margin-left: 1em">
    <div class="linkedin-header">
        <i class="fab fa-linkedin"></i> linkedin.com/in/escience-conference-series
    </div>
        <a class="linkedin-timeline" href="https://www.linkedin.com/in/escience-conference-series/" data-dnt="true"
           data-theme="light" data-chrome=" nofooter noheader" data-height="940" it="linkedin-timeline">
            eScience on LinkedIn</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>